<div class="shadow rounded">
    <div class="p-2">
        <form autocomplete="off">
            <div class="mb-2 row " style="height:40px;">
                <div class="col-9 text-center ui-widget" style="font-size:18px;">
                    <input type="text" id="tags" placeholder="Search Recipe" class="form-control" name="recipe" />
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-sm p-2" style="background-color:#369AEB;color:white">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        var availableTags = [
            "Strawberry cake",
            "Salty pie",
            "Sweet pie",
            "Biscuit",
            "Sable",
            "Kunafa cake",
            "Lotus pancake",
            "Kunafa With Mango",
            "Kunafa mix fresh fruit",
            
        ];
        $("#tags").autocomplete({
            source: availableTags
        });
    });
</script>