
        <ul class="list-group-flush px-0 overflow-auto vh-100 position-sticky" id="recipe-list" style="font-size:16px;">
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none" href="">Strawberry cake</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none" href="">Salty pie</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none" href="">Sweet pie</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none" href="">Biscuit</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none" href="">Sable</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none" href="">Kunafa cake</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none" href="">Lotus pancake</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none" href="">Kunafa With Mango</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none;" href="">Kunafa mix fresh fruit</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none;" href="">Kunafa mix fresh fruit</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none;" href="">Kunafa mix fresh fruit</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none;" href="">Kunafa mix fresh fruit</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none;" href="">Kunafa mix fresh fruit</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none;" href="">Kunafa mix fresh fruit</a>
            </li>
            <hr />
            <li class="recipe-item list-group-item">
                <a style="text-decoration:none;" href="">Kunafa mix fresh fruit</a>
            </li>
        </ul>
