@model Department
<form action="\Dept\SaveAdd\@Model.Id" class=" form" method="get">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name"/>
    </div>
    <div>
        <label for="ManagerName">Manager Name:</label>
        <input type="text" name="Manager" id="Manager" class="form-control" value="@Model.Manager" />
    </div>

    <br />
    <input type="submit" value="Add" class="btn btn-success" />
    <div>
        <label for="Id">ID</label>
        <input type="text" id="Idx" />
    </div>

    <br />
    <button class="btn btn-danger">
        <a asp-controller="Dept" asp-action="Remove" asp-route-id="" id="xx">Remove</a>
    </button>

<script>
    var x = document.getElementById("Idx");
    var r = document.getElementById("xx");
    r.addEventListener("click", function() {
        var link = document.createElement("a");
        link.href = "/Dept/Remove/" + x.value;
        link.click();
    });
</script>

</form>



