@model Book


<h3>Adding Book</h3>
<form action="\Book\SaveAdd\@Model.Id" class=" form" method="post" style="padding-right:50px">
    <div>
        <label asp-for="Title">Book Title: </label>
        <input class="form-control" asp-for = "Title" />
        <span class = "text-danger" asp-validation-for="Title"></span>
    </div>

    <div>
        <label asp-for="Description">Book Description: </label>
        <input asp-for="Description" class="form-control" />
        <span class = "text-danger" asp-validation-for="Description"></span>
    </div>

    <div>

        <label asp-for="Image">Book Image: </label>
        <input asp-for="Image" class="form-control" />
        <span class="text-danger"  asp-validation-for="Image"></span> 
    </div>

    <div>
        <label asp-for="Author">Book Author: </label>
        <input asp-for ="Author" class="form-control"/>
        <span class="text-danger"  asp-validation-for="Author"></span>
    </div>

    <div>
        <label asp-for="BookUrl">Book URL: </label>
        <input asp-for="BookUrl" class=" form-control"/>
    </div>

    <br />
    <input type="submit" value="Add" class="btn btn-success" style="background-color:#ec4899;" id="save" />
</form>