@model Department
<form action="\Dept\SaveAdd"  method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"
        class="form-control"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div>
        <label for="managername">Manager Name</label>
        <input type="text" name="managername" id="ManagerName" 
        class="form-control"  value="@Model.ManagerName"/>
    </div>
    <input type="submit" value="Add" class="btn btn-success" />
</form>
