@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "الوظيفه";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

@model Job

<h2>هل أنت متأكد من حذف هذه الوظيفة ؟</h2>

<div>
    <h4>تفاصيل الوظيفه  </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            عنوان الوظيفه :
        </dt>
        <dd>
            @Model.JobTitle
        </dd>
        <dt>وصف الوظيفه : </dt>
        <dd>
            @Model.JobContent
        </dd>
    </dl>

    <button class ="btn btn-danger"><a asp-controller="Jobs" asp-action="Delete" asp-route-id="@Model.Id" style="color:white; text-decoration:none"> تأكيد الحذف </a></button>

</div>
<br />
@Html.ActionLink("العودة الى القائمه", "Back", "Jobs")


