@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "اضافة صنف";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

@model Category


    <h3>اضافة صنف</h3>
    <form action="\Categories\SaveAdd\@Model.Id" class=" form" method="post" style="padding-right:50px">
        <div>
            <label for="CategoryName">نوع الوظيفة:</label>
            <input type="text" name="CategoryName" id="CategoryName" class="form-control" value="@Model.CategoryName" />
        </div>
        <div>
            <label for="CategoryDescription"> وصف الوظيفه:</label>
            <input type="text" name="CategoryDescription" id="CategoryDescription" class="form-control" value="@Model.CategoryDescription" />
        </div>
        <br />
        <input type="submit" value="اضافه" class="btn btn-success" style="background-color:#ec4899;" />
    </form>
