@if (ViewBag.Authorized != null && (bool)ViewBag.Authorized && ViewBag.Name != null)
{
    @using (Html.BeginForm("logoff", "Accounts", FormMethod.Post, new { id = "logoff" }))
    {
        <ul class="nav navbar navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Home")">مرحبا بك يا @ViewBag.Name</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoff').submit">
                    تسجيل الخروج
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar navbar-nav navbar-right">
        <li>
            <a href="\Accounts\Add\">
                <i class="glyphicon glyphicon-user"></i>
                تسجيل الدخول
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-lock"></i>
                أشتراك
            </a>
        </li>
    </ul>
}
